[Unit]
Description=Zookeeper Daemon
Documentation=http://zookeeper.apache.org
Requires=network.target
After=network.target

[Service]
Type=forking
WorkingDirectory=/zookeeper_kafka/zookeeper
User=zk
Group=zk
ExecStart=/zookeeper_kafka/zookeeper/bin/zkServer.sh start /zookeeper_kafka/zookeeper/conf/zoo.cfg
ExecStop=/zookeeper_kafka/zookeeper/bin/zkServer.sh stop /zookeeper_kafka/zookeeper/conf/zoo.cfg
ExecReload=/zookeeper_kafka/zookeeper/bin/zkServer.sh restart /zookeeper_kafka/zookeeper/conf/zoo.cfg
TimeoutSec=30
Restart=on-failure

[Install]
WantedBy=default.target
Alias=zookeeper.service
